.App {
  text-align: center;
  font-family: 'Poppins', sans-serif
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Despues borrar */

.banner{
  color: #0B3954;
  background-color: #F3A712;
  opacity: 0.8;
  background-image: linear-gradient(30deg, #DB2B39 12%, transparent 12.5%, transparent 87%, #DB2B39 87.5%, #DB2B39), linear-gradient(150deg, #DB2B39 12%, transparent 12.5%, transparent 87%, #DB2B39 87.5%, #DB2B39), linear-gradient(30deg, #DB2B39 12%, transparent 12.5%, transparent 87%, #DB2B39 87.5%, #DB2B39), linear-gradient(150deg, #DB2B39 12%, transparent 12.5%, transparent 87%, #DB2B39 87.5%, #DB2B39), linear-gradient(60deg, #DB2B3977 25%, transparent 25.5%, transparent 75%, #DB2B3977 75%, #DB2B3977), linear-gradient(60deg, #DB2B3977 25%, transparent 25.5%, transparent 75%, #DB2B3977 75%, #DB2B3977);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 1rem;
  font-size: xxx-large;
  -webkit-text-stroke: 2px black;
}